html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
 nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    allign-items: center;
    gap: 1rem;
    list-style: none;
}

nav div img {
   width: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px black;
}

nav ul li a:hoover {
   color: sky blue;
   border-bottom: 1px solid black;
}



body {
    /* Ensure the body uses the .container styles */
    class: container;
}

the.gallery {
    /* Add necessary styling for the gallery */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.love-notes {
    /* Add necessary styling for the love-notes */
    font-style: italic;
    color: #fff;
    background-color: #ff69b4;
    padding: 10px;
    border-radius: 5px;
}